@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700);

body{
	background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/dark_geometric.png');
	font-family: 'Playfair Display SC', serif;
	font-weight: 400;
	color: #fff;
}

h1{
	font-family: 'Playfair Display SC', serif;
}

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.row{
	display: block;
}

.photo_bg{
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 40px 4%;
	background-color: rgba(255,255,255,0.4);
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
}

.photo_bg img{
	width: 180px;
	height: 180px;
	margin-top: 10px;
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
}

.photo_bg img:hover{
	cursor: pointer;
}

.popup{
	width: 100%;
	height: 100%; 
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(50,50,50,0.3);
	z-index: 1000;
}

.popup_bg{
	width: 650px;
	height: 500px;
	margin: 5% auto;
	background-color: rgba(255,255,255,0.4);
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
}

.popup_bg img{
	width: 630px;
	height: 480px;
	margin: 10px 10px;
	border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
	z-index: -1;
}

.nav{
    top: 74px;
    border-style: none;
    height: 479px;
    width: 80px;
    opacity: 0.3;
}

.nav:hover{
    opacity: 0.8;
    cursor: pointer;
}

#back{
    background: #000 url('img/back.png') no-repeat center;
    background-size: contain;
    position: absolute;
    left: 0;
    border-top-right-radius: 20px;
    	-webkit-border-top-right-radius: 20px;
    	-moz-border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    	-webkit-border-bottom-right-radius: 20px;
    	-moz-border-bottom-right-radius: 20px;
}

#next{
    background: #000 url('img/next.png') no-repeat center;
    background-size: contain;
    position: absolute;
    right: 0;
    border-top-left-radius: 20px;
    	-webkit-border-top-left-radius: 20px;
    	-moz-border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    	-webkit-border-bottom-left-radius: 20px;
    	-moz-border-bottom-left-radius: 20px;
}

.hide{
	display: none;
}









